{% extends 'base.html' %}

{% block content %}

<div class="row mt-5 justify-content-center text-white form1">
    <div class="col-12 mt-5">
        <form action="{{url_for('books')}}" method="post">
            <div class="row justify-content-center mb-3">
                <div class="col-md-5 p-5 border-end">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <span class="label-control">Livro:</span>
                            <input type="text" name="livro" class="form-control mt-4">
                            <button type="submit" class="btn btn-dark form-control mt-4">Adicionar</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 d-flex text-center justify-content-around p-5 align-items-center">
                    <div class="col-md-2 text-center">
                        <span class="label-control">Leitor:</span>
                    </div>

                    <div class="col-md-4">
                        <input type="text" name="leitor" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <button type="submit" class="btn btn-dark form-control">Entrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-5 border-end">
        <table class="table">
            <tr class="center">
                <th class="center text-center bg-dark text-white">Livro(s)</th>
               
            </tr>
            {% for livro in livros %}
            <tr class="text-center">
                <td class="border">{{livro}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-5">
        <table class="table">
            <tr class="center">
                <th class="text-center bg-dark text-white">Leitor(es)</th>
            </tr>
            {% for leitor in leitores %}
            <tr class="text-center">
                <td>
                    {{leitor}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock content %}